/* 
	LEVEL ONE
*/
.dropdown {
	padding: 0 10px;
	display: block;
	height: 40px;
	z-index: 10;
	background: #1C8383;
	width: auto;
	border-bottom: solid 7px #11B6A2;
}
.dropdown ul {
	position: relative;
	text-shadow: none;
	list-style-type: none;
	padding-left: 0;
}
.dropdown ul li {
	font-weight: bold;
	float: left;
	zoom: 1;
}
.dropdown ul a:hover {
	color: #000;
	text-decoration: none
}
.dropdown ul a:active {
	color: #000;
}
.dropdown ul li a {
	display: block;
	padding: 0px 12px;
	line-height: 40px;
	color: #fff;
}
.dropdown ul li:last-child a {
	border-right: none;
} /* Doesn't work in IE */
.dropdown ul li.hover, .dropdown ul li:hover {
	background: #11B6A2;
	color: #fff!important;
	position: relative;
}
.dropdown ul li:hover a, .dropdown ul li.hover a {
	color: #000!important;
	;
}
/* 
	LEVEL TWO
*/
.dropdown ul ul {
	width: 200px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	background: #11B6A2;
	z-index: 100;
}
.dropdown ul ul li {
	font-weight: normal;
	float: none;
}
/* IE 6 & 7 Needs Inline Block */
.dropdown ul ul li a {
	color: #fff !important;
	font-weight: bold;
	border-right: none;
	display: block;
	line-height: 16px;
	font-size: 11px;
	padding: 10px;
	background-position: 6px center;
	background-repeat: no-repeat
}
.dropdown ul ul li a:hover {
	background-color:#086C6C;
	text-decoration: none;
	color:#fff !important;
}
/* 
	LEVEL THREE
*/
.dropdown ul ul ul {
	left: 100%;
	top: 0;
}
.dropdown ul li:hover > ul {
	visibility: visible;
}
