@media only screen and (min-width : 300px) and (max-width : 960px) {
.top-list {
	width: 100%;
}
.top-list ul li a {
	padding: 9px 5px;
	font-size: 12px;
}
.left-logo {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.left-logo img {
	width: 80px !important;
	height: 80px !important;
	margin-top: 20px;
}
.web-title {
	width: 100%;
}
.web-title h1 {
	font-size: 25px;
	margin-top: 0;
	line-height: 35px;
}
.description {
	font-size: 15px;
	margin-bottom: 20px;
}
.right-logo {
	display: none;
}
.mobile-dropdown {
	display: block;
}
.navigation-wrap {
	display: none !important;
}
.date-news {
	float: none;
}
.author {
	float: none;
	margin-top: 5px;
}
.title-news {
	margin-bottom: 15px;
}
.first {
	width: 100%;
	margin-right: 0;
}
.second {
	width: 100%;
	margin-left: 0;
}
.footer-box {
	width: 90%;
	margin: 5%;
}
.single-content{
	width:100%;
}
.sidebar{
	width:100%;
	margin-top:20px;
}
}
